
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Demo.Models.Category>
        <ul>
            @foreach (var cat in Model) { 
				
                <li><a href="/product/list/@cat.Id"> @cat.Name </a></li>
            }

        </ul>